##

[asteriskconfig]
Description = MySQL connection to config database
Driver = MySQL
Database = asterisk
Server = localhost
User = asteriskconfig
Password = {{ vn_conf_db_passwd }}
Port = 3306
readtimeout = 2


[asteriskcdrdb]
Description = MySQL connection to 'asteriskdbcdr' database
Driver = MySQL
Server = localhost
Database = cdr
User = asteriskcdrdb
Password = {{ vn_cdr_db_passwd }}
Port = 3306
readtimeout = 2
