#!/bin/sh

PREV_TOTAL=0
PREV_IDLE=0
RRD={{ inventory_hostname_short }}.rrd
RRDHOST={{ cs_server }}

function sys_uptime(){
  SYS_UPTIME=$(awk '{ printf("%d", $1) }' /proc/uptime)
}

function cpu_percent(){

  CPU=(`sed -n 's/^cpu\s//p' /proc/stat`)
  IDLE=${CPU[3]} # Just the idle CPU time.

  # Calculate the total CPU time.
  TOTAL=0
  for VALUE in "${CPU[@]}"; do
    let "TOTAL=$TOTAL+$VALUE"
  done

  # Calculate the CPU usage since we last checked.
  let "DIFF_IDLE=$IDLE-$PREV_IDLE"
  let "DIFF_TOTAL=$TOTAL-$PREV_TOTAL"
  let "DIFF_USAGE=(1000*($DIFF_TOTAL-$DIFF_IDLE)/$DIFF_TOTAL+5)/10"
  CPU_USAGE=$DIFF_USAGE
  #echo -n ":${DIFF_USAGE}"

  # Remember the total and idle CPU times for the next check.
  PREV_TOTAL="$TOTAL"
  PREV_IDLE="$IDLE"

}

function df_percent(){
  DF_USAGE=$(df -P / | tail -1 | awk '{ print $5 }' | sed -e 's/%//')
}

function mem_percent(){
 #MEM_USAGE=$(free -o | awk ' /Mem:/ { printf("%d", (1-($2-$3)/$2)*100) }' )
 MEM_USAGE=$(free -o | awk ' /Mem:/ { printf("%d", (1-($2-$3+$6+$7)/$2)*100) }' )
}

while true; do

  sys_uptime
  cpu_percent
  df_percent
  mem_percent

  x=":${SYS_UPTIME}:${CPU_USAGE}:${DF_USAGE}:${MEM_USAGE}"
  if [ -e /var/run/asterisk/asterisk.ctl ]; then
    x=${x}$(asterisk -rx 'core show calls' | awk "/active calls/ { printf \":%s\", \$1 } /calls processed/ { printf \":%s\", \$1 }")
    x=${x}$(asterisk -rx 'core show uptime seconds' | awk 1 ORS=' ' | sed -e 's/System uptime: /:/' -e 's/ Last reload: /:/')
  else
    x="${x}:0:0:0:0"
  fi

  rrdtool update -d $RRDHOST $RRD N$x

  sleep 5

done

