USE cdr;

--
-- Table structure for table `cdr`
--

DROP TABLE IF EXISTS cdr;

CREATE TABLE IF NOT EXISTS `cdr` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `start`  timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `answer` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `end`    timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `clid` varchar(80) NOT NULL DEFAULT '',
  `src` varchar(80) NOT NULL DEFAULT '',
  `dst` varchar(80) NOT NULL DEFAULT '',
  `dcontext` varchar(80) NOT NULL DEFAULT '',
  `channel` varchar(80) NOT NULL DEFAULT '',
  `dstchannel` varchar(80) NOT NULL DEFAULT '',
  `lastapp` varchar(80) NOT NULL DEFAULT '',
  `lastdata` varchar(80) NOT NULL DEFAULT '',
  `duration` int(11) NOT NULL DEFAULT '0',
  `billsec` int(11) NOT NULL DEFAULT '0',
  `disposition` varchar(45) NOT NULL DEFAULT '',
  `amaflags` int(11) NOT NULL DEFAULT '0',
  `accountcode` varchar(20) NOT NULL DEFAULT '',
  `uniqueid` varchar(80) NOT NULL DEFAULT '',
  `userfield` varchar(255) NOT NULL DEFAULT '',
  `peeraccount` varchar(20) NOT NULL DEFAULT '',
  `linkedid` varchar(80) NOT NULL DEFAULT '',
  `sequence` int(11) NOT NULL DEFAULT '0',
  `voice_message` varchar(255) NOT NULL DEFAULT '',
  `fax_path` varchar(255) NOT NULL DEFAULT '',
  `fax_direction` varchar(255) NOT NULL DEFAULT '',
  `fax_result` varchar(255) NOT NULL DEFAULT '',
  `export_ts` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
   PRIMARY KEY (id),
   INDEX iets (export_ts)
) ENGINE=InnoDB 
DEFAULT CHARSET=utf8 
COLLATE utf8_general_ci;

--
-- Table structure for table `fcdr`
--

DROP TABLE IF EXISTS `fcdr`;
CREATE TABLE `fcdr` (
  `start`  timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `answer` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `end`    timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `clid` varchar(80) NOT NULL DEFAULT '',
  `src` varchar(80) NOT NULL DEFAULT '',
  `dst` varchar(80) NOT NULL DEFAULT '',
  `dcontext` varchar(80) NOT NULL DEFAULT '',
  `channel` varchar(80) NOT NULL DEFAULT '',
  `dstchannel` varchar(80) NOT NULL DEFAULT '',
  `lastapp` varchar(80) NOT NULL DEFAULT '',
  `lastdata` varchar(80) NOT NULL DEFAULT '',
  `duration` int(11) NOT NULL DEFAULT '0',
  `billsec` int(11) NOT NULL DEFAULT '0',
  `disposition` varchar(45) NOT NULL DEFAULT '',
  `amaflags` int(11) NOT NULL DEFAULT '0',
  `accountcode` varchar(20) NOT NULL DEFAULT '',
  `uniqueid` varchar(80) NOT NULL DEFAULT '',
  `userfield` varchar(255) NOT NULL DEFAULT '',
  `peeraccount` varchar(20) NOT NULL DEFAULT '',
  `linkedid` varchar(80) NOT NULL DEFAULT '',
  `sequence` int(11) NOT NULL DEFAULT '0',
  `voice_message` varchar(255) NOT NULL DEFAULT '',
  `fax_path` varchar(255) NOT NULL DEFAULT '',
  `fax_direction` varchar(255) NOT NULL DEFAULT '',
  `fax_result` varchar(255) NOT NULL DEFAULT '',
  `export_ts` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00'
) ENGINE=FEDERATED DEFAULT CHARSET=utf8 
CONNECTION='mysql://{{ inventory_hostname }}:{{ vn_root_db_passwd }}@{{ cs_server }}:3306/{{ cdr_database }}/cdr';

--
-- Dumping routines for database 'cdr'
--

DROP PROCEDURE IF EXISTS `export_cdr`;
DELIMITER ;;
CREATE  PROCEDURE `export_cdr`()
    SQL SECURITY INVOKER
BEGIN
  DECLARE CT, ZT timestamp;
  SET @CT = NOW();
  SET @ZT = '0001-01-01'; 
 IF EXISTS ( SELECT * FROM cdr c WHERE c.export_ts < @ZT ) THEN
  START TRANSACTION;
  INSERT INTO fcdr (start, answer, end, clid, src, dst, dcontext, channel, dstchannel, lastapp, lastdata, duration, billsec, disposition, amaflags, accountcode, uniqueid, userfield, peeraccount, linkedid, sequence, voice_message, fax_path, fax_direction, fax_result, export_ts)
             SELECT start, answer, end, clid, src, dst, dcontext, channel, dstchannel, lastapp, lastdata, duration, billsec, disposition, amaflags, accountcode, uniqueid, userfield, peeraccount, linkedid, sequence, voice_message, fax_path, fax_direction, fax_result, @CT 
             FROM cdr WHERE  export_ts < @ZT;
  UPDATE cdr set export_ts = @CT WHERE export_ts < @ZT;
  COMMIT;
END IF; 
END 
;;
DELIMITER ;


DROP EVENT IF EXISTS sync_cdr;
DELIMITER ;; 
CREATE 
EVENT sync_cdr
	ON SCHEDULE EVERY '2' MINUTE
	ON COMPLETION PRESERVE
	DO 
CALL export_cdr()

;;
DELIMITER ;
