DROP DATABASE IF EXISTS asterisk;
CREATE DATABASE asterisk;
USE asterisk;

CREATE TABLE IF NOT EXISTS config (
  id int(11) NOT NULL AUTO_INCREMENT ,
  cat_metric int(11) DEFAULT NULL ,
  var_metric int(11) DEFAULT NULL ,
  filename varchar(128) DEFAULT NULL ,
  category varchar(128) DEFAULT NULL,
  var_name varchar(128) DEFAULT NULL ,
  var_val text DEFAULT NULL ,
  commented int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (id),
  INDEX category (category),
  INDEX filename_comment (filename, commented),
  INDEX idx_cat_metric (cat_metric)
)
ENGINE = INNODB
CHARACTER SET utf8
COLLATE utf8_general_ci;

DROP TABLE IF EXISTS fconfig;
CREATE TABLE IF NOT EXISTS fconfig (
  cat_metric int(11) DEFAULT NULL ,
  var_metric int(11) DEFAULT NULL ,
  filename varchar(128) DEFAULT NULL ,
  category varchar(128) DEFAULT NULL,
  var_name varchar(128) DEFAULT NULL ,
  var_val text DEFAULT NULL ,
  commented int(11) NOT NULL DEFAULT 0
)
ENGINE=FEDERATED DEFAULT CHARSET=utf8 
CONNECTION='mysql://{{ inventory_hostname }}:{{ vn_db_pass }}@{{ cs_server }}:3306/{{ db_database }}/vConfig';

DROP TABLE IF EXISTS fsipconf;
CREATE TABLE IF NOT EXISTS fsipconf (
  cat_metric int(11) DEFAULT NULL ,
  var_metric int(11) DEFAULT NULL ,
  filename varchar(128) DEFAULT NULL ,
  category varchar(128) DEFAULT NULL,
  var_name varchar(128) DEFAULT NULL ,
  var_val text DEFAULT NULL ,
  commented int(11) NOT NULL DEFAULT 0)
ENGINE=FEDERATED DEFAULT CHARSET=utf8 
CONNECTION='mysql://{{ inventory_hostname }}:{{ vn_db_pass }}@{{ cs_server }}:3306/{{ db_database }}/vSipConf';

DROP TABLE IF EXISTS fextconf;
CREATE TABLE IF NOT EXISTS fextconf (
  cat_metric int(11) DEFAULT NULL ,
  var_metric int(11) DEFAULT NULL ,
  filename varchar(128) DEFAULT NULL ,
  category varchar(128) DEFAULT NULL,
  var_name varchar(128) DEFAULT NULL ,
  var_val text DEFAULT NULL ,
  commented int(11) NOT NULL DEFAULT 0)
ENGINE=FEDERATED DEFAULT CHARSET=utf8 
CONNECTION='mysql://{{ inventory_hostname }}:{{ vn_db_pass }}@{{ cs_server }}:3306/{{ db_database }}/vExtensionsConf';

drop table if exists flog;
CREATE TABLE IF NOT EXISTS `flog` (
  `dt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `host` char(64) DEFAULT 'localhost',
  `tag` char(80) DEFAULT NULL,
  `status` char(80) DEFAULT NULL,
  `msg` text,
  `version` bigint unsigned DEFAULT 0
) ENGINE=FEDERATED DEFAULT CHARSET=utf8
CONNECTION='mysql://{{ inventory_hostname }}:{{ vn_db_pass }}@{{ cs_server }}:3306/{{ db_database }}/syslog';

drop procedure if exists update_config;

delimiter ;;
CREATE PROCEDURE update_config(ver bigint unsigned)
  SQL SECURITY INVOKER
BEGIN


DECLARE EXIT HANDLER FOR SQLEXCEPTION
  BEGIN
    SHOW ERRORS;
    SHOW WARNINGS;
    ROLLBACK;
  END;

INSERT INTO flog (host, tag, status, msg, version) values (@@hostname, 'CONFIG RELOAD', 'TRY', 'Transaction open', ver);
START TRANSACTION;

DELETE  FROM config;
ALTER TABLE config AUTO_INCREMENT = 1;
INSERT INTO config (cat_metric,var_metric,filename,category,var_name,var_val,commented)
  SELECT            cat_metric,var_metric,filename,category,var_name,var_val,commented
  FROM fconfig
  WHERE filename NOT IN ('sip.conf', 'extensions.conf');
INSERT INTO config (cat_metric,var_metric,filename,category,var_name,var_val,commented)
  SELECT            cat_metric,var_metric,filename,category,var_name,var_val,commented
  FROM fextconf;
INSERT INTO config (cat_metric,var_metric,filename,category,var_name,var_val,commented)
  SELECT            cat_metric,var_metric,filename,category,var_name,var_val,commented
  FROM fsipconf;

  INSERT INTO flog (host, tag, status, msg, version) values (@@hostname, 'CONFIG RELOAD', 'OK', Concat('INSTALLED ', (SELECT MAX(id) from config), ' ROWS'), ver);
COMMIT;
END
;;
delimiter ;

