##################################################
# For all dhcp options look at dnsmasq --help dhcp
##################################################

# dhcp-range={{ ansible_default_ipv4.gateway | regex_replace('(.*)\..*','\\1.10') }},{{ ansible_default_ipv4.gateway | regex_replace('(.*)\..*','\\1.126') }},{{ ansible_eth0.ipv4.netmask }},240h

dhcp-range={{dhcp_range}}
dhcp-option=option:router,{{ dhcp_router | default(ansible_default_ipv4.gateway) }}
dhcp-option=option:dns-server,{{ hostvars[inventory_hostname]['ansible_' + int_if]['ipv4']['address'] }},{{ cs_server }}
dhcp-option=option:tftp-server,{{ hostvars[inventory_hostname]['ansible_' + int_if]['ipv4']['address'] }}
