#####
user=nobody
group=nobody
#log-queries
#log-dhcp
#log-facility=/var/log/dnsmasq.log
listen-address=127.0.0.1,{{ hostvars[inventory_hostname]['ansible_' + int_if]['ipv4']['address'] }}
local=/{{ sip_domain | default('pbx.local') }}/
addn-hosts=/etc/hosts.dnsmasq
conf-dir=/etc/dnsmasq.d
