-- DELETE FROM CONFIG WHERE filename = 'dundi.conf';

INSERT INTO CONFIG (cat_metric, var_metric, filename, category, var_name, var_val, node) VALUES
(1, 1, 'dundi.conf', 'general', 'entityid', '{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}', '{{ inventory_hostname_short }}'),
(1, 2, 'dundi.conf', 'general', 'cachetime', '5', '{{ inventory_hostname_short }}'),
(1, 3, 'dundi.conf', 'general', 'ttl', '15', '{{ inventory_hostname_short }}'),
(1, 4, 'dundi.conf', 'general', 'autokill', 'yes', '{{ inventory_hostname_short }}'),
(2, 1, 'dundi.conf', 'mappings', 'interconnect', 'dundiextens,0,IAX2,{{ inventory_hostname_short }}/${NUMBER},nopartial', '{{ inventory_hostname_short }}');

{% for host in groups['vn'] %}
{% if hostvars[host].inventory_hostname_short != inventory_hostname_short %}

INSERT INTO CONFIG (cat_metric, var_metric, filename, category, var_name, var_val, node) VALUES
({{ loop.index | int + 10 }}, 1, 'dundi.conf', '{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}', 'host', '{{ hostvars[host].inventory_hostname_short }}', '{{ inventory_hostname_short }}'),
({{ loop.index | int + 10 }}, 2, 'dundi.conf', '{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}', 'model', 'symmetric', '{{ inventory_hostname_short }}'),
({{ loop.index | int + 10 }}, 3, 'dundi.conf', '{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}', 'inkey', 'dundi', '{{ inventory_hostname_short }}'),
({{ loop.index | int + 10 }}, 4, 'dundi.conf', '{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}', 'outkey', 'dundi', '{{ inventory_hostname_short }}'),
({{ loop.index | int + 10 }}, 5, 'dundi.conf', '{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}', 'include', 'all', '{{ inventory_hostname_short }}'),
({{ loop.index | int + 10 }}, 6, 'dundi.conf', '{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}', 'permit', 'all', '{{ inventory_hostname_short }}'),
({{ loop.index | int + 10 }}, 7, 'dundi.conf', '{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}', 'qualify', 'yes', '{{ inventory_hostname_short }}'),
({{ loop.index | int + 10 }}, 8, 'dundi.conf', '{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}', 'order', 'primary', '{{ inventory_hostname_short }}');

{% endif %}
{% endfor %}
