[general]
locality = {{ inventory_hostname }}
entityid = {{ hostvars[inventory_hostname]['ansible_' + int_if]['macaddress'] }}
cachetime = 30
ttl = 1
autokill = yes

[mappings]

interconnect => dundiextens,0,IAX2,{{ hostvars[inventory_hostname]['ansible_' + int_if]['ipv4']['address'] }}/${NUMBER},nopartial

{% for host in groups['vn'] %}
{% if hostvars[host].inventory_hostname_short != inventory_hostname_short %}

[{{ hostvars[host]['ansible_' + int_if]['macaddress'] }}]
; -- {{  hostvars[host].inventory_hostname }} --
host = {{  hostvars[host]['ansible_' + int_if]['ipv4']['address'] }}
model = symmetric
inkey = dundi
outkey = dundi
include = all
permit = all
qualify = yes
order = primary

{% endif %}
{% endfor %}
