use asterisk;

DROP TABLE IF EXISTS fconfig;

CREATE TABLE IF NOT EXISTS fconfig (
  cat_metric int(11) DEFAULT NULL ,
  var_metric int(11) DEFAULT NULL ,
  filename varchar(128) DEFAULT NULL ,
  category varchar(128) DEFAULT NULL,
  var_name varchar(128) DEFAULT NULL ,
  var_val text DEFAULT NULL ,
  commented int(11) NOT NULL DEFAULT 0
)
ENGINE=FEDERATED DEFAULT CHARSET=utf8 
CONNECTION='mysql://{{ inventory_hostname_short }}:{{ vn_db_pass }}@{{ cs_server }}:3306/{{ db_database }}/vConfig';

DROP TABLE IF EXISTS fsipconf;

CREATE TABLE IF NOT EXISTS fsipconf (
  cat_metric int(11) DEFAULT NULL ,
  var_metric int(11) DEFAULT NULL ,
  filename varchar(128) DEFAULT NULL ,
  category varchar(128) DEFAULT NULL,
  var_name varchar(128) DEFAULT NULL ,
  var_val text DEFAULT NULL ,
  commented int(11) NOT NULL DEFAULT 0)
ENGINE=FEDERATED DEFAULT CHARSET=utf8 
CONNECTION='mysql://{{ inventory_hostname_short }}:{{ vn_db_pass }}@{{ cs_server }}:3306/{{ db_database }}/vSipConf';

DROP TABLE IF EXISTS fextconf;

CREATE TABLE IF NOT EXISTS fextconf (
  cat_metric int(11) DEFAULT NULL ,
  var_metric int(11) DEFAULT NULL ,
  filename varchar(128) DEFAULT NULL ,
  category varchar(128) DEFAULT NULL,
  var_name varchar(128) DEFAULT NULL ,
  var_val text DEFAULT NULL ,
  commented int(11) NOT NULL DEFAULT 0)
ENGINE=FEDERATED DEFAULT CHARSET=utf8 
CONNECTION='mysql://{{ inventory_hostname_short }}:{{ vn_db_pass }}@{{ cs_server }}:3306/{{ db_database }}/vExtensionsConf';

DROP TABLE IF EXISTS flog;

CREATE TABLE IF NOT EXISTS `flog` (
  `dt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `host` char(64) DEFAULT 'localhost',
  `tag` char(80) DEFAULT NULL,
  `status` char(80) DEFAULT NULL,
  `msg` text,
  `version` bigint unsigned DEFAULT 0
) ENGINE=FEDERATED DEFAULT CHARSET=utf8
CONNECTION='mysql://{{ inventory_hostname_short }}:{{ vn_db_pass }}@{{ cs_server }}:3306/{{ db_database }}/syslog';

use cdr; 

DROP TABLE IF EXISTS `fcdr`;
CREATE TABLE `fcdr` (
  `start` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `answer` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `end` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `clid` varchar(80) NOT NULL DEFAULT '',
  `src` varchar(80) NOT NULL DEFAULT '',
  `dst` varchar(80) NOT NULL DEFAULT '',
  `dcontext` varchar(80) NOT NULL DEFAULT '',
  `channel` varchar(80) NOT NULL DEFAULT '',
  `dstchannel` varchar(80) NOT NULL DEFAULT '',
  `lastapp` varchar(80) NOT NULL DEFAULT '',
  `lastdata` varchar(80) NOT NULL DEFAULT '',
  `duration` int(11) NOT NULL DEFAULT '0',
  `billsec` int(11) NOT NULL DEFAULT '0',
  `disposition` varchar(45) NOT NULL DEFAULT '',
  `amaflags` int(11) NOT NULL DEFAULT '0',
  `accountcode` varchar(20) NOT NULL DEFAULT '',
  `uniqueid` varchar(32) NOT NULL DEFAULT '',
  `userfield` varchar(255) NOT NULL DEFAULT '',
  `peeraccount` varchar(20) NOT NULL DEFAULT '',
  `linkedid` varchar(32) NOT NULL DEFAULT '',
  `sequence` int(11) NOT NULL DEFAULT '0',
  `voice_message` varchar(255) NOT NULL DEFAULT '',
  `fax_path` varchar(255) NOT NULL DEFAULT '',
  `fax_direction` varchar(255) NOT NULL DEFAULT '',
  `fax_result` varchar(255) NOT NULL DEFAULT '',
  `export_ts` datetime NOT NULL DEFAULT '0000-00-00 00:00:00'
) ENGINE=FEDERATED DEFAULT CHARSET=utf8 
CONNECTION='mysql://{{ inventory_hostname_short }}:{{ vn_db_pass }}@{{ cs_server }}:3306/{{ cdr_database }}/cdr';

