
{% for host in groups['cs'] %}
{% if hostvars[host]['ansible_hostname'] != 'localhost' %}
{{ hostvars[host]['ansible_' + int_if]['ipv4']['address'] }}	{{cs_server}} {{ hostvars[host]['inventory_hostname_short'] }} {{ hostvars[host]['inventory_hostname_short'] }}.{{ sip_domain | default('local.voip') }} {{ hostvars[host]['inventory_hostname'] }}
{% endif %}
{% endfor %}

{% for host in groups['vn'] %}
{% if hostvars[host]['ansible_hostname'] != 'localhost' %}
{{ hostvars[host]['ansible_' + int_if]['ipv4']['address'] }}	{{ hostvars[host]['inventory_hostname_short'] }} {{ hostvars[host]['inventory_hostname_short'] }}.{{ sip_domain | default('local.voip') }} {{ hostvars[host]['inventory_hostname'] }}
{% endif %}
{% endfor %}
